# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads
web/bundles
web/fonts
web/img
web/css
web/js
app/SymfonyRequirements.php

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# google
web/google*
web/yandex*

/bin

# composer
composer.lock
composer.phar
