parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    gravatar_hash: ~
    google_analytics: ~
    google_plus_id: ~

    disqus_shortname: ~

    doctrine_memcached_host: localhost
    doctrine_memcached_port: 11211
    session_memcached_host: localhost
    session_memcached_port: 11211
    session_memcached_prefix: blogses
    session_memcached_expire: 84600
