{% extends "::base.html.twig" %}

{% block title %}{{ "About me"|trans }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <p>
        <img src="{{ asset('apple-touch-icon-152x152.png') }}" alt="KelTanas" class="pull-right img-circle">
    </p>

    <p>Привет!</p>
    <p>Меня зовут Николай!</p>
    <p>Я и моя команда занимаемся профессиональной разработкой на PHP и JavaScript.</p>
    <p>В наш арсенал входят такие инструменты, как Symfony2, jQuery, Backbone</p>

    <h3>Предлагаем Услуги</h3>

    <ul>
        <li>Составление семантического ядра для сайта</li>
        <li>Ведение рекламных кампаний и лидогенерация</li>
        <li>Техническая поддержка и SEO оптимизация</li>
        <li>Разработка фирменного стиля и дизайна</li>
        <li>Создание сайтов и порталов</li>
        <li>Разработка стартапов и облачных приложений</li>
        <li>Разработка мобильных сайтов и приложений</li>
    </ul>

    <h3>Обеспечение качества</h3>

    <p>Мы ответственно относимся к нашей работе, поэтому:</p>

    <ul>
        <li>Ведем историю задач в YouTrack</li>
        <li>Пишем тесты и проверяем код на всех этапах</li>
        <li>Делаем билды с помощью TeamCity при каждом коммите автоматически</li>
        <li>Тестируем, анализируем покрытие тестами и строим документацию для каждого билда</li>
        <li>Для хранения кода и всей истории изменений проекта используем GitHub</li>
    </ul>

    <p>Все эти этапы позволяют обнаружить и исправить многие ошибки еще на стадии разработки и не допустить падения рабочего проекта.</p>

{% endblock %}
