{% extends "::base.html.twig" %}

{% block title %}{{ "About me"|trans }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="pull-right">
        <p><img src="{{ asset('apple-touch-icon-152x152.png') }}" alt="KelTanas" class="img-circle"></p>
        {#<p><a href="https://insight.sensiolabs.com/projects/d470da61-5e43-4143-9349-463f07acaee9" target="_blank">
            <img src="https://insight.sensiolabs.com/projects/d470da61-5e43-4143-9349-463f07acaee9/small.png" alt="Medal">
        </a></p>#}
    </div>

    <h3>Привет!</h3>
    <h4>Меня зовут Николай!</h4>
    <p>Занимаюсь программированием со школы. Писал программы на Spectrum Basic, Assembler.</p>
    <p>В университете занимался Pascal, Delphi, Matlab, x86 Assembler. Начал изучать PHP4 и Javascript.</p>
    <p>В конце обучения начал профессиональную деятельность как веб-разработчик в веб-студии.</p>
    <p>Прошел службу в армии в войсках ПВО.</p>
    <p>После службы работал над созданием сайтов в веб-студии Нимакс. В компании Имотэк занялся разработкой ERP
        системы для учета докуметнооборота и продаж. Углубился в изучение паттернов. После переформирования компании
        возглавил IT отдел.</p>
    <p>После небольшого опыта в компании ISOEMO занялся разработкой на фрилансе. Изучал Symfony, Javascript, Python,
        вопросы рекламы и продвижения сайтов.</p>
    <p>В Sperasoft работал над веб-проектом с функционалом интернет-магазина, краудфандинговой платформы
        и игровых механик на базе AWS, PHP, Laravel, MySQL, RabbitMQ.</p>
    <p>На последнем месте работы участвовал в разработке микросервисов для хранения и обработки котировок.
        Работал с Golang, Docker, Gitlab CI.</p>
    <p>Увлекаюсь картингом, бегом, беговыми лыжами, плаванием, велосипедом.</p>

    {#<p>Уже многие годы моим основным занятием является профессиональная разработка на PHP, JavaScript, Nodejs и ингда Python.</p>#}
    {#<p>В мой арсенал входят такие библтотеки, как Symfony, Doctrine, Laravel, Express, jQuery, Backbone, Angular2, Less.</p>#}
    {#<p>Работаю с приложениями работы с данными: Mysql, Redis, Memcache, Elasticsearch, RabbitMQ.</p>#}

    <h3>Основной род решаемых задач</h3>

    <ul>
        {#<li>Составление семантического ядра для сайта</li>#}
        {#<li>Ведение рекламных кампаний и лидогенерация</li>#}
        {#<li>Техническая поддержка и SEO оптимизация;</li>#}
        {#<li>Разработка фирменного стиля и дизайна;</li>#}
        <li>Создание сайтов, интернет-магазинов и веб-приложений;</li>
        <li>Создание REST-API;</li>
        <li>Разработка микросервисной архитектуры на базе событийной модели;</li>
        {#<li>Разработка стартапов и облачных приложений;</li>#}
        {#<li>Оптимизация под мобильные устройства;</li>#}
        <li>Разработка гибкой архитектуры для корпоративных приложений со сложной логикой;</li>
        <li>Разработка высоконагруженных проектов и сервисов;</li>
        {#<li>Тонкая настройка поиска и подбор по параметрам для информационных сайтов и интернет-магазинов;</li>#}
    </ul>

    <h3>Обеспечение качества</h3>

    <p>Ответственное отношение к своей работе предполагает:</p>

    <ul>
        <li>Ведение истории задач;</li>
        <li>Написание тестов и проверка кода на всех этапах;</li>
        <li>Сборка проектов с помощью CI при каждом коммите автоматически;</li>
        <li>Тестирование, анализ покрытия тестами и создание документации;</li>
        {#<li>Для хранения кода и всей истории изменений проекта используется GitHub или Bitbucket;</li>#}
    </ul>

    {#<p>Все эти этапы позволяют обнаружить и исправить многие ошибки еще на стадии разработки#}
        {#и&nbsp;не&nbsp;допустить выхода из строя введенного в эксплуатацию проекта.</p>#}

    <h3>Как меня найти</h3>

    <ul>
        <li><a href="https://github.com/keltanas" target="_blank">https://github.com</a></li>
        <li><a href="https://bitbucket.org/keltanas" target="_blank">https://bitbucket.org</a></li>
        <li><a href="https://www.linkedin.com/in/nikolay-ermin-a7328b4a/" target="_blank">https://www.linkedin.com</a></li>
        <li><a href="https://moikrug.ru/keltanas" target="_blank">https://moikrug.ru</a></li>
    </ul>

{% endblock %}
