{% extends "::base.html.twig" %}

{% block meta %}<meta name="robots" content="none"/>
    <meta name="robots" content="noarchive"/>
{% endblock %}

{% block title %}{{ "Tag"|trans }}: {{ name }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% for entity in entities %}
        {% include '@KeltanasPage/Post/_post_tiny.html.twig' %}
    {% endfor %}

    {{ knp_pagination_render(entities)|raw }}
{% endblock %}
