{% extends "::base.html.twig" %}

{% block title %}{{ "About me"|trans }}{% endblock %}

{% block body %}
    <p>
        <img src="http://www.gravatar.com/avatar/{{ gravatar_hash }}.png" alt="KelTanas" class="pull-right">
    </p>
    <p>Hello!</p>
    <p>My name is Nikolay!</p>
    <p>I have been developing websites and web applications.</p>
{% endblock %}
